POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="clarx_prod"
POSTGRES_HOST="localhost"

PHX_SERVER=true
DATABASE_URL="ecto://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/$POSTGRES_DB"
ECTO_IPV6=false
POOL_SIZE=2
SECRET_KEY_BASE="5u+xOTBXSDR1paf1RdGiSaXG4kQM7AzFcsUPoFfv2voR+4q5LMtP2QCrQrmAhXep"
PHX_HOST="localhost"
PORT=4000
JWT_SECRET_KEY="R0ST673WsXDICXInu/2jWaBB+QYe9YevWBzmtSJd6sYo5VQd3P/3S2d7JAoUvyQO"
